body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-btn {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(57, 136, 57);
  border: 2px solid darkgreen;
  border-radius: 5px;
  padding: 10px;
}

.search input {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128);
  width: 500px;
}

.results {
  flex: 1;
  overflow-y: auto;
}

.track-results {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.track-title {
  font-size: 18px;
}

.album-image {
  margin: 10px;
  border: 1px solid gray;
}

.track-artist {
  color: gray;
}

.player {
  margin: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

hr {
  height: 1px;
  width: 95vw;
}
