body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  background: lightyellow;
  display: flex;
  flex-direction: column;
}

.login-btn {
  text-decoration: none;
  color: white;
  background-color: rgb(130, 235, 130);
  padding: 10px;
}

.search {
  background: lightblue;
}

.search input {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 500px;
}

.results {
  flex: 1;
  background: lightgreen;
  overflow-y: auto;
}
